<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "mx.cenet.AcelerometroBrujula"
    version     = "1.0.2"
    versionCode = "3" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.6.3" />

    <name>AcelerometroBrujula</name>

    <description>
        App para el acelerometro y brujula. 
    </description>

    <author href="http://cenet.mx" email="jannebcom@gmail.com">
        Janett Blanco
    </author>
	
	<icon src="img/icon.png"/>
    
    <gap:plugin name="org.apache.cordova.device-motion" />
	<gap:plugin name="org.apache.cordova.device-orientation"/>
</widget>